*.swp
*.un~
__pycache__
outputs
untracked
projects/mask_generator/random_video_masks_demo


#<RP Default Gitignore Start>
*.pyc
*.swo
*.swp
*.swn
*.swm
*.un~
*.gstmp
*.ipynb_checkpoints
*.DS_Store
#<RP Default Gitignore End>

